.bat-input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--primary-red);
    margin-bottom: 5px;
}

.bat-input:focus {
    outline: none;
}

.bat-text-area {
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--primary-red);
    display: block;
    resize: vertical;
}

.bat-error-mssg {
    color: var(--alert-danger);
    font-size: 12px;
}

.bat-valid-mssg {
    color: var(--alert-success);
    font-size: 12px;
}