.bat-grid-20-80 {
    display: grid;
    grid-template-columns: 20% 1fr;
}

.bat-gap-1 {
    gap: 1rem;
}

.bat-grid-20-80 div,
.bat-grid-50-50 div,
.bat-grid-three-column div {
    border: 2px solid var(--primary-red);
    padding: 1rem;
    background-color: var(--light-primary);
    text-align: center;
}

.bat-grid-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bat-grid-three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}