.bat-modal {
    padding: 1rem;
    max-width: 500px;
    margin: auto;
    width: 100%;
    background-color: var(--white-only);
    border: 1px solid var(--light-primary);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 5px;
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.43);
    transition: .5s all;
    width: 90%;
}

.bat-modal-show {
    transition: .5s all;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 67;
}

.bat-modal-title {
    color: var(--primary-red);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.bat-modal label {
    color: var(--primary-red);
    font-size: 14px;
}

.bat-modal input {
    padding: 0.5rem;
}

.bat-modal button {
    margin-top: 1rem;
}

.bat-modal p {
    margin-top: 1rem;
    color: var(--prussian-blue-only);
    text-align: center;
    font-size: 12px;
}

.bat-modal p span {
    color: var(--primary-red);
    font-weight: 500;
}

#close-modal {
    color: var(--primary-red);
    text-align: right;
}

#modal-demo {
    margin: 2rem auto;
}