.navbar {
    background-color: var(--primary-red);
    position: relative;
}

.nav-menu button {
    padding: 0.5rem 1rem;
    color: var(--primary-red);
    font-weight: 600;
}

.nav-menu button:hover {
    color: var(--primary-red);
}

.nav-menu .material-icons:hover {
    background-color: var(--grey);
    color: var(--primary-red);
}

.search-bar input {
    border: none;
    outline: none;
    font-family: inherit;
    padding: 0.5rem;
    background-color: transparent;
    width: 100%;
    max-width: 600px;
    transition: .5s all;
}


.search-bar {
    background-color: var(--white-only);
    color: var(--primary-red);
    padding: 0 .5rem;
}

.navbar .material-icons {
    padding: 0;
    margin-right: .35rem;
}

.menu-icon {
    display: none;
}

.bat-content-nav-pad {
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    .bat-content-nav-pad {
        padding: 0rem;
    }

    .landing-header {
        margin: 0rem auto;
    }

    .nav-menu button {
        background-color: transparent;
        color: var(--white-only);
        padding: 0rem;
    }

    .nav-menu button:hover {
        background-color: transparent;
    }

    .hide-on-phone {
        display: none;
    }

    .nav-menu {
        /* position: fixed; */
        bottom: 0;
        display: flex;
        background: var(--primary-red);
        width: 100%;
        left: 0;
        right: 0;
        z-index: 567;
        padding: 0 .5rem;
        gap: .25rem;
        justify-content: flex-end;
    }

    .menu-icon {
        display: block;
    }

    .media-nav {
        width: 100%;
        justify-content: space-between;
        gap: .35rem;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding: 0 0.5rem;
    }

    .navbar {
        height: 120px;
    }

    .bat-logo i {
        display: none;
    }

    .search-bar {
        position: absolute;
        top: 60px;
        left: 0;
        margin: 0 1rem;
        right: 0;
        z-index: 2;
        padding: 0.25rem;
    }



    header {
        margin-top: 0rem;
    }

    .landing-header {
        margin: 0rem;
    }
}