.bat-toast {
    padding: 0.5rem 1rem;
    background-color: #333;
    /* there's no need for this color anywhere, that's why just using hex */
    margin: auto;
    color: var(--white-only);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    max-width: 400px;
    font-weight: 500;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

.bat-retry {
    color: #bb86fc;
    /* there's no need for this color anywhere, that's why just using hex */
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.bat-retry span {
    color: var(--white-only);
}


#bat-toast {
    padding: 0.5rem 1rem;
    position: fixed;
    bottom: 10%;
    right: 0;
    left: 0;
    z-index: 4543;
    background-color: #333;
    /* there's no need for this color anywhere, that's why just using hex */
    margin: auto;
    color: var(--white-only);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    max-width: 400px;
    display: none;
    font-weight: 500;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}