:root {
    --primary-red: #e63946ff;
    --primary-red-dark: #b82e38;
    --light-primary: #ee747e;
    --lighter-primary: #fdebed;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
    --alert-info: #0d4298;
    --alert-info-bg: #cfe2ff;
    --alert-success: #0f5132;
    --alert-success-bg: #d1e7dd;
    --alert-warning: #664d03;
    --alert-warning-bg: #fff3cd;
    --alert-error: #842029;
    --alert-error-bg: #f8d7da;
}