:root {
    --primary-red: #e63946ff;
    --primary-red-dark: #b82e38;
    --light-primary: #ee747e;
    --lighter-primary: #fdebed;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
}