:root {
    --nav-bg: #e63946ff;
    --primary-red: #e63946ff;
    --primary-red-only: #e63946ff;
    --primary-red-dark: #b82e38;
    --white: white;
    --white-only: white;
    --light-primary: #ee747e;
    --lighter-primary: #fdebed;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
    --prussian-blue-only: #1d3557ff;
    --prussian-blue-dark: #1a304e;
    --footer-bg: #1d3557ff;
    --alert-info: #0d4298;
    --alert-info-bg: #cfe2ff;
    --alert-success: #0f5132;
    --alert-success-bg: #d1e7dd;
    --alert-warning: #664d03;
    --alert-warning-bg: #fff3cd;
    --alert-error: #842029;
    --alert-error-bg: #f8d7da;
    --btn-success: #198754;
    --btn-danger: #dc3545;
    --btn-warning: #ffc107;
    --btn-info: #0dcaf0;
    --btn-light-hover: #cabcbe;
    --btn-success-hover: #146c43;
    --btn-danger-hover: #b02a37;
    --btn-warning-hover: #e6ae06;
    --btn-info-hover: #0aa2c0;
    --btn-icon-hover: #97c4c6;
}

.bat-dark {
    --nav-bg: #343A40;
    --primary-red: #e63946ff;
    --primary-red-dark: #b82e38;
    --white: #212529;
    --light-primary: #ee747e;
    --lighter-primary: #fdebed;
    --honeydew: #ee747e;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #fdebed;
    --alert-info: #0d4298;
    --alert-info-bg: #cfe2ff;
    --alert-success: #0f5132;
    --alert-success-bg: #d1e7dd;
    --alert-warning: #664d03;
    --alert-warning-bg: #fff3cd;
    --alert-error: #842029;
    --alert-error-bg: #f8d7da;
    --btn-success: #198754;
    --btn-danger: #dc3545;
    --btn-warning: #ffc107;
    --btn-info: #0dcaf0;
    --footer-bg: #343A40;
}