.bat-footer {
    margin: auto;
    padding: 1rem;
    background-color: var(--footer-bg);
    color: var(--powder-blue);
}

.bat-footer-component {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.bat-footer-nav {
    list-style-type: none;
}

.bat-footer-nav li {
    padding: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: 0.5s all;
    max-width: 200px;
    cursor: pointer;
}

.bat-footer-nav li:hover {
    border-bottom: 2px solid var(--honeydew);

}

.bat-icon-social {
    transition: 0.3s all;
}

.bat-icon-social:hover {
    transform: scale(1.15);
    color: var(--honeydew);
}

.bat-footer .bat-github-btn {
    background-color: var(--primary-red-only);
    color: var(--white-only);
    padding: 0.75rem 1rem;
    font-weight: 600;
    width: fit-content;
    border-radius: .5rem;
    transition: .4s all;
}

.bat-footer .bat-github-btn:hover {
    background-color: var(--primary-red-dark);

}

.bat-footer-social div {
    padding: 0.5rem;
}

.bat-footer .bold-600 {
    font-size: 1.25rem;
}

.bat-zub-ftr-link {
    font-weight: 600;
}

.bat-zub-ftr-link:hover {
    color: var(--honeydew);
}

@media screen and (max-width: 600px) {

    .bat-footer-component {
        grid-template-columns: 1fr;
    }

    .bat-footer {
        padding: .5rem;
    }

}